<launch>

    <node name="head_movement" pkg="object_detection_speech" type="head_movement.py" />
    <node name="object_detection" pkg="object_detection_speech" type="object_detection.py" />
    <node name="stream_capture" pkg="object_detection_speech" type="stream_capture.py" />
    <node name="speech" pkg="object_detection_speech" type="speech.py" />

</launch>